html {

}

body {
	font-family: "Open Sans", Arial, sans-serif;
	color: #393839;
	font-weight: 300;
	padding: 0;
	margin: 0;
	/*padding: 3% 14%;*/
	/*background-color: #CCCCCC;*/
}

h2 {
	font-weight: normal;
}

h1 {
	color: #2b9ab5;
	font-weight: 400;
	font-size: 1.875em;
	text-align: center;
	font-style: italic;
}

section {
	margin: 0 auto;
}

section h2 {
	text-align: left;
}

#title {
	padding-top: 1%;
	font-size: 1.25em;
}

#border-gray {
	border-top: 1px solid gray;
	width: 90%;
	margin: 0 auto;
}

#what-we-do {
	width: 90%;
	margin:0 auto;
}

#what-we-do-video {
	width: 480px;
	display: inline;
	float: left;
	padding: 1% 0;
	padding-left: 5%;
}

#what-we-do-content {
	width: 600px;
	display: inline;
	float: left;
	padding-left: 10%;
}

#what-we-do-content p {
	width: 600px;
}

#benefits-testimonials {
	clear: both;
	background-color: #505050;
	color:  #ffffff;
}

#benefits h2 {

}

#testimonials {
	width: 34%;
	display: inline-block;
}

#testimonials img {
	float: left;
	width: 110px;
}

#testimonials p {
	margin-left: 24%;
}

#open-positions {
	padding: 3% 14%;
}

#benefits-bullets {
	width: 49%;
	display: inline-block;
	vertical-align: top;
	padding: 2% 7%;
	box-sizing: border-box;
}

ul {
	list-style-type: none;
	padding-left: 0;
}

#open-positions li {
	display: inline;
	float: left;
	width: 300px;
	padding-top: 1%;
}