html {

}

body {
	font-family: "Open Sans", Arial, sans-serif;
	color: #393839;
	font-weight: 300;
	padding: 0;
	margin: 0;
	/*padding: 3% 14%;*/
	/*background-color: #CCCCCC;*/
}

h2 {
	font-weight: normal;
}

h1 {
	color: #2b9ab5;
	font-weight: 400;
	font-size: 1.875em;
	text-align: center;
	font-style: italic;
}

section {
	margin: 0 auto;
}

section h2 {
	text-align: left;
}

#title {
	border: 2px solid red;
	padding-top: 1%;
	font-size: 1.25em;
}

.gray {
	border: 2px solid green;
}

#what-we-do {
	border: 2px solid blue;
	padding: 3% 14%;
}

#what-we-do-video {
	border: 2px solid orange;
	width: 49%;
	display: inline-block;
}

#what-we-do-content {
	width: 50%;
	display: inline-block;
	float: right;
}

#benefits-testimonials {
	border: 2px solid yellow;
	background-color: #505050;
	color:  #ffffff;
}

#benefits {
	border: 2px solid black;
	padding: 3% 14%;
	width: 30%;
	display: inline-block;
}

#benefits h2 {

}

#testimonials {
	border: 2px solid orange;
	width: 34%;
	display: inline-block;
}

#open-positions {
	padding: 3% 14%;
}

#benefits-list {
	width: 65%;
	display: inline-block;
	box-sizing: border-box;
}

#benefits-bullets {
	width: 49%;
	display: inline-block;
	vertical-align: top;
}

#perks-bullets {
	width: 49%;
	display: inline-block;
}

ul {
	list-style-type: none;
	padding-left: 0;
}

#open-positions li {
	display: inline;
}